h1{
    text-align: center;
    color: blue;
    font-weight: bolder;
    
}
body{
    background-image: url("https://images-cdn.welcomesoftware.com/Zz05NmM1YjFjYjhlNDIxMWViODczZWQzYzBkNTFlNDU4ZA==");
}